footer.footer
    .newsLetter
        h2 Get our offers in your inbox
        form.newsLetter__form
            input.newsLetter__form__input(placeholder='Email adresse')
            button.newsLetter__form__button(type='submit')
                | Subscribe
    ul.footer__list
        li.footer__item
            a(href='/')
                img(src='/images/favicon.png')
            p Av Mly Youssef N&deg;33, 90050 Tangier, Morocco
        li.footer__item
            h3 Shop
            a.footer__link.btn--standard(href='#') Browse collection
            a.footer__link.btn--standard(href='#') Cart
            a.footer__link.btn--standard(href='#') Wshlist
        li.footer__item
            h3 About us
            a.footer__link.btn--standard(href='#') About Interbooks
            a.footer__link.btn--standard(href='#') Help
            a.footer__link.btn--standard(href='#') Contact us
            a.footer__link.btn--standard(href='#') Privacy policy
            a.footer__link.btn--standard(href='#') Return policy
        li.footer__item
            h3 Account
            a.footer__link.btn--standard(href='#') Log in
            a.footer__link.btn--standard(href='#') Sign up
            a.footer__link.btn--standard(href='#') Account
    .sub-footer
        .copy All rights reserved. &copy; 2021-Interbooks
        .socials
            a.link.facebook(href='#')
                svg
                    use(href='/sprite.svg#icon-facebook')
            a.link.instagram(href='#')
                svg
                    use(href='/sprite.svg#icon-instagram')
