extends base

block content
    section.signup
        form.reset.form(data-reset=`${resetToken}`)
            h2(style='margin-bottom: 3rem') Reset password
            //- .form__entity
            //-     label.form__label(for='currentPassword')  Current password
            //-     input#currentPassword.form__input(required='' type='password')
            .form__entity
                label.form__label(for='newPassword')  New password
                input#newPassword.form__input(required='' type='password')
            .form__entity
                label.form__label(for='confirmNewPassword')
                    | Confirm new password
                input#confirmNewPassword.form__input(required='' type='password')
            button(type='submit') Submit
            
