extends base

block content 
    section.section-wishlist
        .container
            h2 My wishlist
            ul.list
                li.item
                    span.like(type='button')
                        svg
                            use(href='/sprite.svg#icon-heart')
                    a(href='#')
                    img.img(src='images/books/trump.jpg')
                    a(href='#')
                    h3 Trump the arte of the deal
                    p.format Paperback
                    p.author Trump
                    p.state Used
                    p.price 200 MAD
                    button.btn.btn--flat Add to cart
