doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link( rel="stylesheet" href="/css/style.css")
        link( type="image/png" rel="shortcut icon" href="/images/favicon.png")
        title Document
        
        script(type="module" defer src="/scripts/main.js")
    body 
        ul.cached__list.hidden
            span.close X
            if !user
                li.nav__items
                    a.nav__link.btn--flat(href='/login') Log in
                li.nav__items
                    a.nav__link.btn--flat(href='/signup') Signup
            if user        
                li.nav__items
                    a.nav__link.btn--flat(href='/wishlist') Wishlist
                li.nav__items
                    a.nav__link.btn--flat(href='/cart') Cart
                li.nav__items
                    a.nav__link.btn--flat(href='/profile') Profile

        header.header
        include _header

        main.main
        .loader.hidden

        block content

        footer.footer
        include _footer
        