@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  color: var(--color-dark);
  max-width: 14020px;
  margin: 0 auto;
}
@media only screen and (max-width: 50rem) {
  body {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 25rem) {
  body {
    font-size: 1.2rem;
  }
}

ul {
  list-style: none;
}

.container {
  margin: 7rem auto 0 auto;
  max-width: 90%;
}

a,
button {
  display: inline-block;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.btn--flat {
  background-color: var(--color-primary);
  color: var(--color-light);
}
.btn--flat:hover {
  background-color: var(--color-primary-dark);
}
.btn--outline {
  border: 1.5px solid var(--color-primary);
  color: var(--color-primary);
}
.btn--outline:hover {
  border: 1.5px solid var(--color-primary-dark);
  background-color: var(--color-primary-dark);
  color: var(--color-light);
}
.btn--cta {
  background-color: var(--color-secondary);
  color: white;
}
.btn--cta:hover {
  background-color: var(--color-secondary-dark);
}
.btn--standard {
  border-bottom: 2px solid var(--color-primary);
  transition: all 0.3s;
  color: var(--color-dark);
}
.btn--standard:hover {
  border-bottom: 2px solid var(--color-primary);
}

.signup {
  padding: 10rem 0;
}
@media only screen and (max-width: 43rem) {
  .signup {
    padding: 5rem 0;
  }
}

.form {
  padding: 2rem;
  background-color: var(--color-light);
  max-width: 40rem;
  margin: 6rem auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form a,
.form button {
  margin-bottom: 1rem;
}
.form a {
  color: var(--color-primary);
  display: inline-block;
}
.form button {
  font-size: 1.7rem;
  transition: all 0.3s;
  display: block;
  background-color: var(--color-secondary);
  color: white;
  padding: 1.5rem;
}
.form button:hover {
  background-color: var(--color-secondary-dark);
}
.form__entity {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__entity > * {
  margin-bottom: 0.6rem;
}
.form__input {
  padding: 1rem;
  outline: none;
  border: none;
}

.terms {
  display: flex;
  align-items: center;
}
.terms a {
  margin: 0;
  padding: 0;
}
.terms label {
  margin-left: 1rem;
}

.hidden {
  display: none;
}

.cached__list {
  z-index: 99999999999999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white !important;
  background-color: var(--color-primary);
  margin: 0 auto;
}
.cached__list .close {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  box-shadow: 2px 2px 20px rgba(71, 71, 71, 0.281);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 9999;
}
.nav .logo-link {
  display: block;
  width: 11rem;
  height: 7rem;
  /* transform: translateY(1rem); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nav__form {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
}
.nav__form__button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
  display: inline-block;
}
.nav__form__icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-primary);
}
.nav__form__input {
  outline: none;
  border: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-right: 1rem;
  border-bottom: 2px solid var(--color-primary);
}
.nav__form__input::placeholder {
  opacity: 0.5;
}
.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
}
@media only screen and (max-width: 68.25rem) {
  .nav__list {
    display: none;
  }
}
.nav__items:not(:last-child) {
  margin-right: 2rem;
}
.nav__link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav__link,
.nav__form {
  height: 3.5rem;
}

.nav__button {
  display: none;
  cursor: pointer;
  height: 10px;
}
@media only screen and (max-width: 68.25rem) {
  .nav__button {
    display: block;
  }
}

.hamburger {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 10px;
  background-color: var(--color-primary);
  position: relative;
}
.hamburger::before,
.hamburger::after {
  content: '';
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: inherit;
}
.hamburger::before {
  top: -4.5px;
}
.hamburger::after {
  top: 5px;
}

.section-wishlist {
  padding: 10rem 0;
}
.section-wishlist h2 {
  margin-bottom: 3rem;
}

.section-cart {
  padding: 10rem 0;
}
.section-cart h2 {
  margin-bottom: 3rem;
}

.cart {
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 36rem) {
  .cart {
    flex-direction: column;
  }
}
.cart__list,
.cart__checkout {
  border: 1px solid var(--color-light);
  padding: 2rem;
}
.cart__list {
  margin-right: 3rem;
  width: 70%;
}
@media only screen and (max-width: 36rem) {
  .cart__list {
    width: 100%;
  }
}
.cart__item {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 32rem) {
  .cart__item {
    flex-direction: column;
    align-items: flex-start;
  }
}
.cart__item:not(:last-of-type) {
  margin-bottom: 3rem;
  border-bottom: 1px solid rgba(124, 123, 123, 0.226);
  padding-bottom: 1rem;
}
.cart__item__details {
  flex: 1;
}
.cart__item__details > * {
  margin-bottom: 0.7rem;
}
.cart__item__img img {
  width: 15rem;
}
@media only screen and (max-width: 32rem) {
  .cart__item__img img {
    width: 20rem;
  }
}
.cart__item__price {
  font-weight: 700;
}
.cart__checkout {
  flex: 1;
}
@media only screen and (max-width: 36rem) {
  .cart__checkout {
    width: 100%;
  }
}
.cart__checkout p {
  margin-bottom: 2rem;
}
.cart__checkout__btn {
  text-align: center;
  display: inline-block;
  padding: 1rem;
}
@media only screen and (max-width: 56rem) {
  .cart__checkout__btn {
    padding: 0.4rem;
  }
}

.cta {
  display: flex;
  align-items: center;
}
.cta__quantity {
  display: flex;
  align-items: center;
}
.cta > *:not(:last-of-type) {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-right: 1px solid var(--color-light);
}

.section-profile {
  padding: 10rem 0;
}
.section-profile form {
  width: 60%;
  margin: 0 auto;
}
.section-profile form h2 {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 28rem) {
  .section-profile form {
    width: 90%;
  }
}
.section-profile form input {
  background-color: var(--color-light);
}
.section-profile form:not(:last-of-type) {
  margin-bottom: 6rem;
}
.section-profile form button {
  font-size: 1.7rem;
  transition: all 0.3s;
  display: block;
  background-color: var(--color-secondary);
  color: white;
  padding: 0.7rem 1.5rem;
}
.section-profile form button:hover {
  background-color: var(--color-secondary-dark);
}

.profile {
  display: flex;
  align-items: flex-start;
}
@media only screen and (max-width: 28rem) {
  .profile {
    flex-direction: column;
  }
}
.profile__settings {
  background-color: var(--color-secondary);
  width: 30%;
  margin-right: 4rem;
  padding: 2rem;
}
@media only screen and (max-width: 28rem) {
  .profile__settings {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
  }
}
@media only screen and (max-width: 19rem) {
  .profile__settings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
  }
}
.profile__list {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 28rem) {
  .profile__list {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 19rem) {
  .profile__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 3rem);
  }
}

.profile__item {
  padding-bottom: 0.7rem;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.185);
}

.profile__item:not(:last-of-type) {
  margin-bottom: 2rem;
}
@media only screen and (max-width: 28rem) {
  .profile__item:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
.profile__link {
  text-decoration: none;
  color: white;
}
.profile__infos {
  width: 100%;
}
.profile__infos .figure {
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__infos .figure img {
  object-fit: cover;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}
@media only screen and (max-width: 32rem) {
  .profile__infos .figure img {
    width: 10rem;
    height: 10rem;
  }
}

.section-author {
  padding: 10rem 0;
}

.auth__img {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  margin-bottom: 2rem;
}

.auth h2 {
  margin-bottom: 1rem;
}

.auth__details {
  margin-bottom: 5rem;
}

.auth__about {
  max-width: 50rem;
}

.newsLetter {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-secondary-light);
  padding: 5rem;
}
.newsLetter h2 {
  margin-bottom: 2rem;
}
.newsLetter__form {
  display: flex;
  align-items: center;
  height: 4rem;
  width: 35%;
  justify-content: center;
}
@media only screen and (max-width: 18rem) {
  .newsLetter__form {
    flex-direction: column;
  }
  .newsLetter__form > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.newsLetter__form__input,
.newsLetter__form__button {
  height: 100%;
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
}
.newsLetter__form__input {
  display: inline-block;
  flex: 1;
}
.newsLetter__form__button {
  background-color: var(--color-primary);
  color: var(--color-light);
  cursor: pointer;
}

.footer h3 {
  margin-bottom: 1.4rem;
}

.footer__list {
  width: 100%;
  display: grid;
  grid-gap: 5rem 3rem;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  color: var(--color-light);
  padding: 3rem;
  background-color: var(--color-primary);
}
@media only screen and (max-width: 18rem) {
  .footer__list {
    padding: 1.5rem;
  }
}

.footer__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer__item img {
  width: 10rem;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 56.25rem) {
  .footer__item img {
    width: 7rem;
  }
}
@media only screen and (max-width: 36.25rem) {
  .footer__item img {
    width: 4rem;
  }
}

.footer__link {
  text-decoration: none;
  color: inherit;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
}
.footer__link:hover {
  color: var(--color-primary-dark);
}

.sub-footer {
  padding: 3rem;
  background-color: var(--color-primary-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-light);
}
@media only screen and (max-width: 22rem) {
  .sub-footer {
    flex-direction: column;
  }
  .sub-footer > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.sub-footer .link {
  text-decoration: none;
  display: inline-block;
  margin-right: 1rem;
}
.sub-footer svg {
  width: 2rem;
  height: 2rem;
  fill: var(--color-light);
}

/* .section-categories {
  padding: 7rem 0;
} */
/* .section-categories h2 {
  margin-bottom: 3rem;
} */

.grid-unit {
  position: relative;
  background-color: black;
  color: white;
}
.grid-unit img {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  transition: all 0.2s;
}
.grid-unit:hover img {
  opacity: 1;
}
.grid-unit span {
  top: 2rem;
  left: 2rem;
  display: inline-block;
  position: absolute;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(4, 1fr);
}
@media only screen and (max-width: 28.3125rem) {
  .grid-container {
    width: 80%;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 5rem);
    margin: 0 auto;
    grid-gap: 1rem;
  }
}

.first {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.second {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
}

.third {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.fourth {
  grid-column: 2 / 5;
  grid-row: 4 / 5;
}

.fifth {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
}

.sixth {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.seventh {
  grid-column: 3 / 4;
  grid-row: 2 / 4;
}

.eigth {
  grid-column: 4 / 5;
  grid-row: 2 / 4;
}

@media only screen and (max-width: 28.3125rem) {
  .first,
  .second,
  .third,
  .fourth,
  .fifth,
  .sixth,
  .seventh,
  .eigth {
    grid-column: 1 / 2;
    grid-row: unset;
  }
}

.hero {
  height: 100vh;
  padding: 7rem 8rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(5, 5, 5, 0.479),
      rgba(0, 0, 0, 0.404)
    ),
    url('../images/books.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}
.hero .info {
  color: white;
  margin-right: 6rem;
  font-size: 3rem;
}
@media only screen and (max-width: 51.125rem) {
  .hero .info {
    font-size: 1.6rem;
    margin-right: 3rem;
  }
}
@media only screen and (max-width: 41.25rem) {
  .hero .info {
    width: 100%;
  }
}
.hero .info > * {
  margin-bottom: 2rem;
}
.hero figure img {
  width: 60rem;
  height: 40rem;
  object-fit: cover;
}
@media only screen and (max-width: 66.25rem) {
  .hero figure img {
    display: block;
    width: 30rem;
    height: 20rem;
  }
}
@media only screen and (max-width: 41.25rem) {
  .hero figure img {
    display: none;
  }
}

.section-trending {
  background-color: var(--color-light);
}
.section-trending,
.section-categories {
  padding: 2rem 0 14rem 0;
}
.section-trending h2,
.section-categories h2 {
  margin-bottom: 5rem;
}

.list {
  display: grid;
  grid-gap: 5rem 1rem;
  grid-template-columns: repeat(auto-fill, 16rem);
  justify-content: center;
}
.list img {
  display: block;
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.4rem;
  position: relative;
  padding: 1rem;
  box-shadow: 2px 2px 20px rgba(73, 72, 72, 0.253);
}
.item h3 {
  color: var(--color-dark);
}
.item h3:hover {
  color: var(--color-primary-dark);
}
.item > * {
  margin-bottom: 1rem;
}
.item .like {
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  padding: 0.4rem;
  box-shadow: 2px 2px 20px black;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 2rem;
  left: 2rem;
  position: absolute;
}
.item .like svg {
  width: 2rem;
  height: 2rem;
}

.price {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--color-secondary);
}

.format,
.author,
.state {
  font-size: 1.2rem;
}

:root {
  --color-primary-light: #23231a;
  --color-primary: #23231a;
  --color-primary-dark: #23231a;
  --color-secondary-light: #75c9c8;
  --color-secondary: #75c9c8;
  --color-secondary-dark: #399391;
  --color-dark: #23231a;
  --color-light: #e2f4f3;
  --color-error: #e43f6f;
  --color-ok: #59ffa0;
}

.loader {
  border: 16px solid var(--color-secondary); /* Light grey */
  border-top: 16px solid var(--color-primary); /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 10rem auto 10rem auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.loader-container {
  min-height: 100vh;
}

.book {
  margin: 14rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.book > *:not(:last-child) {
  margin-right: 5rem;
}
@media only screen and (max-width: 42.5rem) {
  .book > *:not(:last-child) {
    margin-right: 2rem;
  }
}
@media only screen and (max-width: 28.5rem) {
  .book {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .book > * {
    width: 80% !important;
    margin-bottom: 3rem;
  }
}
.book__figure {
  width: 20%;
}
.book__img {
  width: 100%;
  display: block;
  margin: 0 auto 3rem auto;
}
.book__star {
  width: 3rem;
  height: 3rem;
  fill: var(--color-secondary);
}
@media only screen and (max-width: 42.5rem) {
  .book__star {
    width: 1.5rem;
    height: 1.5rem;
  }
}
.book__title {
  font-size: 3rem;
}
@media only screen and (max-width: 42.5rem) {
  .book__title {
    font-size: 2rem;
  }
}
.book__by {
  display: inline-block;
}
.book__info {
  width: 60%;
}
.book__info > *:not(:last-child) {
  margin-bottom: 1.56rem;
}
.book__about {
  max-width: 80%;
  line-height: 150%;
}
@media only screen and (max-width: 18.5rem) {
  .book__about {
    max-width: 100% !important;
  }
}
.book__actions {
  padding: 3rem 0;
  border: 1px solid var(--color-primary);
  width: 20%;
}
.book__actions button {
  display: block;
  width: 70%;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
}
@media only screen and (max-width: 42.5rem) {
  .book__actions button {
    width: 100%;
    padding: 0.2rem;
  }
}
@media only screen and (max-width: 28.5rem) {
  .book__actions button {
    width: 50%;
    margin: 1rem 0;
    align-self: flex-start !important;
  }
}
.book #select {
  display: block;
  position: relative;
  top: 3px;
  left: 3px;
  border-radius: 4px;
  background-color: var(--color-primary-light);
  color: white;
  outline: none;
  order: none;
  margin: 0 auto 3rem auto;
}
@media only screen and (max-width: 28.5rem) {
  .book #select {
    left: 0;
    top: 0;
    margin: 1rem 0;
    align-self: flex-start !important;
  }
}
